.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &-title {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: $dark-color;

    div {
      display: flex;
    }
  }
}