$light-color: #ffffff;
$dark-color: #000000;
$auth-bgc-color: #E5E5E5;
$text-color: #333333;
$disabled-text: #F4F4F4;
$default-hovered: #E1E1E1;
$default-active: #CFCFCF;
$label-text: #CCCCCC;
$inner-shadow: #B5B5B5;
$primary: #7B61FF;
$primary-dropdown-light: #E6E1FF;
$primary-hovered: #8A73FF;
$primary-active:#715BE3;
$success: #5EE48C;
$success-rank: #3CA961;
$success-hovered: #80F0A6;
$success-active: #4BD379;
$success-border: #157536;
$error: #FF6161;
$error-rank: #D14343;
$error-hovered: #FF8080;
$error-active: #D65D5D;
$error-status: #EB4F4F;
$error-border: #6D1313;
$warning: #FFC700;
$warning-rank: #E9B500;
$warning-border: #846F00;
$info-type: #00D1FF;